{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>
<form method="post" {% block action %}{% endblock %} enctype="multipart/form-data">
    {% block form %}
        <input type="number" value="{{ identifiant }}" hidden id="id" name="id">
        <h1>Ajouter un {% block type %}monstre{% endblock %}</h1>

        <div class="form-group">
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom" class="form-control" placeholder="Entrez le nom" required
                   value="{{ nom }}">
        </div>

        {% if erreur is defined %}

            <p class="erreur">{{ erreur }}</p>

        {% endif %}

        {% block prenom %}
        {% endblock %}

        <div class="form-group">
            <label for="poids">Poids : </label>
            <input type="text" name="poids" id="poids" class="form-control" placeholder="Entrez le poids" required
                   value="{{ poids }}">
        </div>

        <div class="form-group">
            <label for="taille">Taille en cm : </label>
            <input type="text" name="taille" id="taille" class="form-control" placeholder="Entrez la taille" required
                   value="{{ taille }}">
        </div>

        <div class="form-group">
            <label for="pv">Points de vie : </label>
            <input type="text" name="pv" id="pv" class="form-control" placeholder="Entrez les points de vie" required
                   value="{{ pv }}">
        </div>

        <div class="form-group">
            <label for="pAtt">Points d'attaque : </label>
            <input type="text" name="pAtt" id="pAtt" class="form-control" placeholder="Entrez les points d'attaque" required
                   value="{{ pAttaque }}">
        </div>

        <div class="form-group">
            <label for="pdef">Points de défense : </label>
            <input type="text" name="pdef" id="pdef" class="form-control" placeholder="Entrez les points de défense"
                   required value="{{ pDefense }}">
        </div>

        <div class="form-group">
            <label for="pa">Points d'agilité : </label>
            <input type="text" name="pa" id="pa" class="form-control" placeholder="Entrez les points d'agilité" required
                   value="{{ pAgilite }}">
        </div>

        <div class="form-group">
            <label for="photo">Photo : </label>
            <input type="file" name="photo" id="photo" class="form-control">
        </div>

    {% endblock %}

    {% block submit %}

        <input type="submit" value="Créer">

    {% endblock %}
</form>
</body>
</html>