{% extends "Admin.creerCompte.html.twig" %}
{% set route = base_url() %}
{% block action %}
    action="{{ route }}/admin/modifUtilisateur"
{% endblock %}
    {% block formTitre %}
        <h1>Modifier Utilisateur</h1>
        <input value="{{ id }}" type="hidden" id="id" name="id">
    {% endblock %}

    {% block submit %}value="Modifier"{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ parent() }}

{% endblock %}


    {% block radioGroup %}
        {% if niveau == 0 %}
            <input type="radio" value="Joueur" name="niveau" id="joueur"/> &nbsp; Joueur &nbsp;
            <input type="radio" value="Administrateur" name="niveau" id="admin" checked/> &nbsp; Administrateur
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endblock %}
