{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ route }}/public/javascripts/panelAdmin.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/panelAdmin.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ADMINISTRATION (BON-DUELLE)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-user navbar-right">
                <li><a href="{{ route }}/auth"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<nav class="navbar-primary">
    <ul class="navbar-primary-menu">
        <li>
            <span class="nav-header">COMPTE</span>
            <a data-btn="addAccount"><span class="glyphicon glyphicon glyphicon-user"></span><span
                        class="nav-label">Ajouter compte</span></a>
            <a data-btn="modifyAccount"><span class="glyphicon glyphicon glyphicon-user"></span><span
                        class="nav-label">Gérer compte</span></a>
            <span class="nav-header">PERSONNAGE</span>
            <a data-btn="addPerso"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span><span
                        class="nav-label">Ajouter personnage</span></a>
            <a data-btn="modifyPerso"><span class="glyphicon glyphicon glyphicon-thumbs-up"></span><span
                        class="nav-label">Gérer personnage</span></a>
            <span class="nav-header">MONSTRE</span>
            <a data-btn="addMonstre"><span class="glyphicon glyphicon glyphicon-thumbs-down"></span><span
                        class="nav-label">Ajouter monstre</span></a>
            <a data-btn="modifyMonstre"><span class="glyphicon glyphicon glyphicon-thumbs-down"></span><span
                        class="nav-label">Gérer monstre</span></a>

            <span class="nav-header">STATISTIQUES</span>
            <a data-btn="showCombats"><span class="glyphicon glyphicon glyphicon-stats"></span><span
                        class="nav-label">Voir les combats &nbsp; <span class="badge">{{ nbCombats }}</span></span></a>
            <a data-btn="statsPersos"><span class="glyphicon glyphicon glyphicon-stats"></span><span
                        class="nav-label">Statistiques des personnages</span></a>
            <a data-btn="statsMonstres"><span class="glyphicon glyphicon glyphicon-stats"></span><span
                        class="nav-label">Statistiques des monstres</span></a>
            <a data-btn="classement"><span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span><span
                        class="nav-label">Classement</span></a>

        </li>
    </ul>
</nav>
<div class="main-content">
    <iframe src="voirUtilisateurs"></iframe>
</div>
</body>
</html>
{#
<a href="{{ route }}/admin/creerCompte" class="bouton">Créer un compte </a> <br>
<a href="{{ route }}/admin/voirUtilisateurs" class="bouton">Voir les utilisateurs </a>

<br><a href="{{ route }}/admin/creerPersonnage" class="bouton">Créer un personnage </a>
<br><a href="{{ route }}/admin/creerMonstre" class="bouton">Créer un monstre </a>
<br><a href="{{ route }}/admin/listLegumes" class="bouton">Liste des légumes</a>
<br><a href="{{ route }}/admin/listFruits" class="bouton">Liste des fruits</a>#}
