{% set route = base_url() %}
{% block head %}
    <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>
</head>
{% endblock %}

{% block body %}
<body>
<form method="post" {% block action %}action="{{ route }}/admin/creerCompte"{% endblock %}>

    {% block formTitre %}
        <h1>Ajouter un compte</h1>
    {% endblock %}
    <div id="radioGroup" class="form-group">
        {% block radioGroup %}
            <input type="radio" value="Joueur" name="niveau" id="joueur" checked/> &nbsp; Joueur &nbsp;
            <input type="radio" value="Administrateur" name="niveau" id="admin"/> &nbsp; Administrateur
        {% endblock %}
    </div>

    <div class="form-group">
        <label for="login">Nom d'utilisateur : </label>
        <input type="text" name="login" id="login" class="form-control" placeholder="Entrez le login" required
               value="{{ login }}">
    </div>

    {% if erreur is defined %}
        <p class="erreur">{{ erreur }}</p>
    {% endif %}

    <div class="form-group">
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Entrez le mot de passe"
               required value="{{ password }}">
    </div>

    <input type="submit" {% block submit %}value="Créer"{% endblock %}>
</form>

</body>
</html>

{% endblock %}