{% extends "Admin.creerPersonnage.html.twig" %}

{% set route = base_url() %}

{% block action %}
    action="{{ route }}/admin/creerHero"
{% endblock %}


{% block type %}personnage{% endblock %}

    {% block prenom %}
        <div class="form-group">
            <label for="prenom">Prénom : </label>
            <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Entrez le prénom" required
                   value="{{ prenom }}">
        </div>
    {% endblock %}
