{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>IDENTIFIANT</th>
        <th>PROTAGONNISTE</th>
        <th>MONSTRE</th>
        <th>FINALITE</th>
    </tr>
    </thead>
    <tbody>
    {% for combat in combats %}
        <tr>
            <td>{{ combat.id }}</td>
            <td>
                {% for perso in combat.personnages %}
                    {% if loop.first %}
                        {{ perso.prenom}} {{ perso.nom }}
                    {% else %}
                        / {{ perso.prenom}} {{ perso.nom }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for monstre in combat.monstres %}
                    {% if loop.first %}
                        {{ monstre.nom }}
                    {% else %}
                        / {{ monstre.nom }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{% if combat.finalite == 0 %}
                    gagné par le(s) personnage(s)
                {% else %}
                    gagné par le(s) monstre(s)
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>