{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>IDENTIFIANT</th>
        <th>NOM D'UTILISATEUR</th>
        <th>NIVEAU D'ACCES</th>
        <th>GESTION COMPTE</th>
    </tr>
    </thead>
    <tbody>
    {% for utilisateur in users %}
        <tr>
            <td>{{ utilisateur.authentification_id }}</td>
            <td>{{ utilisateur.login }}</td>
            <td>{% if utilisateur.niveau == 0 %}
                    Administrateur
                {% else %}
                    Joueur
                {% endif %}
            </td>
            <td>
                {% if utilisateur.login != "admin" %}
                    <a data-toggle="tooltip" data-placement="bottom" title="Modifier compte"
                       href="{{ route }}/admin/modifUtilisateur/{{ utilisateur.authentification_id }}"><span
                                class="glyphicon glyphicon-pencil warning"></span></a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Supprimer compte"
                       href="{{ route }}/admin/supprUtilisateur/{{ utilisateur.authentification_id }}"><span
                                class="glyphicon glyphicon-remove error"></span></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>