{% extends "Template.html.twig" %}

{% set route = base_url() %}

{% block body %}

    <h1>User list</h1>

    {% for utilisateur in users %}
        {{loop.index}} - {{utilisateur.login}} <br/>
    {% endfor %}

{% endblock %}
