<footer>
    <p>
        ©2019 Bon-Duelle ENTERNTAINMENT INC <span class="glyphicon glyphicon-ok"></span>, TOUS DROITS RESERVES. 
        <br/>
        LEGRAND - MERCIER - SERRES - DUROY
    </p>
</footer>