<div class="headerLogo">
    <a href="{{ base_url() }}/auth" data-toggle="tooltip" data-placement="bottom" title="Déconnexion"><img class="headerLogoImg" src="{{ base_url() }}/public/images/logo.png"></a>
</div>
