{% extends "Template.html.twig" %}

{% set route = base_url() %}

{% block head %}
    
    
    {{ parent() }}
    <link rel="stylesheet" href="{{route}}/public/style/css/combat.css" />
    <title>Combat</title>
{% endblock %}

{% block body %}
<script type="module" src="{{route}}/public/javascripts/combat.js"></script>
    <h1>C'est l'heure du DUDUDU-DUEL</h1>
    <p hidden id="idCombat">{{idCombat}}</p>
    <div class="combatContainer">
        <div  id="{{legume.personnage_id}}" class="legumeContainer persoContainer">
            <img src="{{route}}/public/images/personnages/{{legume.photo}}" alt="Photo de legume">
            <h2>{{legume.prenom}} {{legume.nom}}</h2>
            <div class="actionsPerso">
                <p>PV : <span class="pvactuel">{{legume.pv}}</span> / {{legume.pv}}</p>
                <button class="btn btn-primary attaquer disabled">ATTAQUER</button>
                <button class="btn btn-primary defendre disabled">DEFENDRE</button>
            </div>
        </div>

        <div class="historyContainer">
            <div class="history"></div>
            <button class="btn btn-primary jouer" autofocus>JOUER  LE  TOUR</button>
        </div>

        <div id="{{fruit.personnage_id}}" class="fruitContainer persoContainer">
            <img src="{{route}}/public/images/monstres/{{fruit.photo}}" alt="Photo de fruit">
            <h2> {{fruit.nom}}</h2>
            <div class="actionsPerso">
                <p>PV : <span class="pvactuel">{{fruit.pv}}</span> / {{fruit.pv}}</p>
            </div>
        </div>

    </div>
    
    
{% endblock %}