{% extends "Template.html.twig" %}

{% set cheminImages = base_url() ~ "/public/images" %}
{% set cheminMonstres = cheminImages ~ "/monstres" %}
{% set cheminPersonnages = cheminImages ~ "/personnages" %}
{% set route = base_url() %}

{% block head %}
    <title>Choix combattants</title>
    {{ parent() }}
    <!-- Scripts perso -->
    <script src="{{ route }}/public/javascripts/selectionPersonnage3vs3.js"></script>

    <link rel="stylesheet" href="{{ route }}/public/style/css/selectionPersonnage3vs3.css"/>
{% endblock %}


{% block header %}
    <div class="titre">CHOIX DES DEUX EQUIPES</div>
{% endblock %}

{% block body %}
    <div class="partieLegumes">
        {% for perso in persos %}
            <div class="cbt" data-id="{{ perso.personnage_id }}" data-toggle="tooltip" data-placement="bottom"
                 title="{{ perso.prenom }} {{ perso.nom }}"><img src="{{ cheminPersonnages }}/{{ perso.photo }}"></div>
        {% endfor %}
    </div>
    <div class="partieFruits">
        {% for monstre in monstres %}
            <div class="cbt" data-id="{{ monstre.personnage_id }}" data-toggle="tooltip" data-placement="bottom"
                 title="{{ monstre.prenom }} {{ monstre.nom }}"><img src="{{ cheminMonstres }}/{{ monstre.photo }}"></div>
        {% endfor %}
    </div>
    <div class="contentButton">
        <button class="btn btn-default" onclick="randomPerso()">ALEATOIRE</button>
        <form method="post" action="/bon-duelle/joueur/combat3v3">
            <input type="hidden" name="idLegume1" id="hiddenLegume1" value="0">
            <input type="hidden" name="idLegume2" id="hiddenLegume2" value="0">
            <input type="hidden" name="idLegume3" id="hiddenLegume3" value="0">
            <input type="hidden" name="idFruit1" id="hiddenFruit1" value="0">
            <input type="hidden" name="idFruit2" id="hiddenFruit2" value="0">
            <input type="hidden" name="idFruit3" id="hiddenFruit3" value="0">
            <button class="btn btn-default" id="lancementCombat" type="submit">COMBAT</button>
        </form>
    </div>
{% endblock %}