{% extends "Template.html.twig" %}

{% set route = base_url() %}

{% block head %}
    
    
    {{ parent() }}
    <link rel="stylesheet" href="{{route}}/public/style/css/combat3v3.css" />
    <title>Combat</title>
{% endblock %}

{% block body %}
<script type="module" src="{{route}}/public/javascripts/combat3v3.js"></script>
    <h1>C'est l'heure du DUDUDU-DUEL</h1>
    <p hidden id="idCombat">{{idCombat}}</p>
    <div class="combatContainer">
        <div class="teamLegumeContainer">
            <div  id="{{legume.personnage_id}}" class="legumeContainer persoContainer">
                <img src="{{route}}/public/images/personnages/{{legume.photo}}" alt="Photo de legume">
                <h2>{{legume.prenom}} {{legume.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{legume.pv}}</span> / {{legume.pv}}</p>
                </div>
            </div>

            <div  id="{{legume2.personnage_id}}" class="legumeContainer persoContainer">
                <img src="{{route}}/public/images/personnages/{{legume2.photo}}" alt="Photo de legume">
                <h2>{{legume2.prenom}} {{legume2.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{legume2.pv}}</span> / {{legume2.pv}}</p>
                </div>
            </div>

            <div  id="{{legume3.personnage_id}}" class="legumeContainer persoContainer">
                <img src="{{route}}/public/images/personnages/{{legume3.photo}}" alt="Photo de legume">
                <h2>{{legume3.prenom}} {{legume3.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{legume3.pv}}</span> / {{legume3.pv}}</p>
                </div>
            </div>
                          
        </div>
        

        <div class="historyContainer">
            <button class="btn btn-primary attaquer button">ATTAQUER</button>
            <button class="btn btn-primary defendre button">DEFENDRE</button> 
            <div class="history"></div>
            <button class="btn btn-primary jouer" autofocus>JOUER  LE  TOUR</button>
        </div>

        <div class="teamFruitContainer">
            <div id="{{fruit.personnage_id}}" class="fruitContainer persoContainer">
                <img src="{{route}}/public/images/monstres/{{fruit.photo}}" alt="Photo de fruit">
                <h2> {{fruit.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{fruit.pv}}</span> / {{fruit.pv}}</p>
                </div>
            </div>

            <div id="{{fruit2.personnage_id}}" class="fruitContainer persoContainer">
                <img src="{{route}}/public/images/monstres/{{fruit2.photo}}" alt="Photo de fruit">
                <h2> {{fruit2.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{fruit2.pv}}</span> / {{fruit2.pv}}</p>
                </div>
            </div>

            <div id="{{fruit3.personnage_id}}" class="fruitContainer persoContainer">
                <img src="{{route}}/public/images/monstres/{{fruit3.photo}}" alt="Photo de fruit">
                <h2> {{fruit3.nom}}</h2>
                <div class="actionsPerso">
                    <p>PV : <span class="pvactuel">{{fruit3.pv}}</span> / {{fruit3.pv}}</p>
                </div>
            </div>
        </div>
        

    </div>
    
    
{% endblock %}