{% extends "Template.html.twig" %}

{% set cheminImages = base_url() ~ "/public/images" %}
{% set cheminMonstres = cheminImages ~ "/monstres" %}
{% set cheminPersonnages = cheminImages ~ "/personnages" %}
{% set route = base_url() %}

{% block head %}
    <title>Choix combat</title>
    {{ parent() }}

    <link rel="stylesheet" href="{{ route }}/public/style/css/choixCombat.css"/>
{% endblock %}

{% block header %}
    <div class="titre">CHOIX DU TYPE DE COMBAT</div>
{% endblock %}

{% block body %}
    <div class="choix">
        <a class="1vs1" href="{{ route }}/joueur/choix1vs1">1 VS 1</a>
        <a class="2vs2" href="{{ route }}/joueur/choix3vs3"> 3 VS 3</a>
    </div>
{% endblock %}