{% extends "Template.html.twig" %}

{% set cheminImages = base_url() ~ "/public/images" %}
{% set cheminMonstres = cheminImages ~ "/monstres" %}
{% set cheminPersonnages = cheminImages ~ "/personnages" %}
{% set route = base_url() %}

{% block head %}
    <title>Choix combattants</title>
    {{ parent() }}
    <!-- Scripts perso -->
    <script src="{{ route }}/public/javascripts/selectionPersonnage.js"></script>

    <link rel="stylesheet" href="{{ route }}/public/style/css/selectionPersonnage.css"/>
{% endblock %}


{% block header %}
    <div class="breadcrumb">
        <a class="active" data-id="0">Choix joueur</a>
        <a data-id="1">Choix monstre</a>
        <a data-id="2">Validation</a>
    </div>
{% endblock %}

{% block body %}

    <div id="myCarousel" class="carousel slide personnages actif" data-ride="carousel" data-interval="0">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% set nbPersos = persos|length - 1 %}
            {% for i in 1..nbPersos %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" data-id="{{ persos[0].personnage_id }}">
                <div class="item_content">
                    <div class="item_content_carte">
                        <div class="item_content_carte_gauche">
                            <div class="item_content_carte_gauche_photo">
                                <img src="{{ cheminPersonnages }}/{{ persos[0].photo }}">
                            </div>
                            <div class="item_content_carte_gauche_nom">
                                <h1>{{ persos[0].nom }} {{ persos[0].prenom }}</h1>
                            </div>
                        </div>
                        <div class="item_content_carte_droite">
                            <div class="item_content_carte_droite_caract">
                                <label>- PV: <span>{{ persos[0].pv }}</span></label>
                                <label>- Attaque: <span>{{ persos[0].pAttaque }}</span></label>
                                <label>- Défense: <span>{{ persos[0].pDefense }}</span></label>
                                <label>- Agilité: <span>{{ persos[0].pAgilite }}</span></label>
                                <label>- Taille: <span>{{ persos[0].taille }}</span></label>
                                <label>- Poids: <span>{{ persos[0].poids }}</span></label>
                            </div>
                            <div class="item_content_carte_droite_stats">
                                <label>- Ratio victoire:
                                    <span>{{ stats[persos[0].personnage_id].ratioVictoires }}</span></label>
                                <label>- Nb victoires:
                                    <span>{{ stats[persos[0].personnage_id].nbVictoires }}</span></label>
                                <label>- Nb défaites:
                                    <span>{{ stats[persos[0].personnage_id].nbDefaites }}</span></label>
                                <label>- Nb combats: <span>{{ stats[persos[0].personnage_id].nbCombats }}</span></label>
                                <label>- Nb attaques reçues: <span>{{ stats[persos[0].personnage_id].nbAttRecues }}</span></label>
                                <label>- Nb attaques données: <span>{{ stats[persos[0].personnage_id].nbAttEff }}</span></label>
                                <label>- Total des dégâts reçus: <span>{{ stats[persos[0].personnage_id].totalDegRecus }}</span></label>
                                <label>- Total des dégâts infligés: <span>{{ stats[persos[0].personnage_id].totalDegEff }}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% set persosSlice = persos|slice(1, persos|length) %}

            {% for perso in persosSlice %}

                <div class="item" data-id="{{ perso.personnage_id }}">
                    <div class="item_content">
                        <div class="item_content_carte">
                            <div class="item_content_carte_gauche">
                                <div class="item_content_carte_gauche_photo">
                                    <img src="{{ cheminPersonnages }}/{{ perso.photo }}">
                                </div>
                                <div class="item_content_carte_gauche_nom">
                                    <h1>{{ perso.nom }} {{ perso.prenom }}</h1>
                                </div>
                            </div>
                            <div class="item_content_carte_droite">
                                <div class="item_content_carte_droite_caract">
                                    <label>- PV: <span>{{ perso.pv }}</span></label>
                                    <label>- Attaque: <span>{{ perso.pAttaque }}</span></label>
                                    <label>- Défense: <span>{{ perso.pDefense }}</span></label>
                                    <label>- Agilité: <span>{{ perso.pAgilite }}</span></label>
                                    <label>- Taille: <span>{{ perso.taille }}</span></label>
                                    <label>- Poids: <span>{{ perso.poids }}</span></label>
                                </div>
                                <div class="item_content_carte_droite_stats">

                                    <label>- Ratio victoire:
                                        <span>{{ stats[perso.personnage_id].ratioVictoires }}</span></label>
                                    <label>- Nb victoires:
                                        <span>{{ stats[perso.personnage_id].nbVictoires }}</span></label>
                                    <label>- Nb défaites:
                                        <span>{{ stats[perso.personnage_id].nbDefaites }}</span></label>
                                    <label>- Nb combats: <span>{{ stats[perso.personnage_id].nbCombats }}</span></label>
                                    <label>- Nb attaques reçues: <span>{{ stats[perso.personnage_id].nbAttRecues }}</span></label>
                                    <label>- Nb attaques données: <span>{{ stats[perso.personnage_id].nbAttEff }}</span></label>
                                    <label>- Total des dégâts reçus: <span>{{ stats[perso.personnage_id].totalDegRecus }}</span></label>
                                    <label>- Total des dégâts infligés: <span>{{ stats[perso.personnage_id].totalDegRecus }}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Prev</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suiv</span>
        </a>
    </div>
    <div id="myCarousel2" class="carousel slide monstres" data-ride="carousel" data-interval="0">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            {% set nbMonstres = monstres|length - 1 %}
            {% for i in 1..nbMonstres %}
                <li data-target="#myCarousel2" data-slide-to="{{ i }}"></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" data-id="{{ monstres[0].personnage_id }}">
                <div class="item_content">
                    <div class="item_content_carte">
                        <div class="item_content_carte_gauche">
                            <div class="item_content_carte_gauche_photo">
                                <img src="{{ cheminMonstres }}/{{ monstres[0].photo }}">
                            </div>
                            <div class="item_content_carte_gauche_nom">
                                <h1>{{ monstres[0].nom }} {{ monstres[0].prenom }}</h1>
                            </div>
                        </div>
                        <div class="item_content_carte_droite">
                            <div class="item_content_carte_droite_caract">
                                <label>- PV: <span>{{ monstres[0].pv }}</span></label>
                                <label>- Attaque: <span>{{ monstres[0].pAttaque }}</span></label>
                                <label>- Défense: <span>{{ monstres[0].pDefense }}</span></label>
                                <label>- Agilité: <span>{{ monstres[0].pAgilite }}</span></label>
                                <label>- Taille: <span>{{ monstres[0].taille }}</span></label>
                                <label>- Poids: <span>{{ monstres[0].poids }}</span></label>
                            </div>
                            <div class="item_content_carte_droite_stats">
                                <label>- Ratio victoire:
                                    <span>{{ stats[monstres[0].personnage_id].ratioVictoires }}</span></label>
                                <label>- Nb victoires:
                                    <span>{{ stats[monstres[0].personnage_id].nbVictoires }}</span></label>
                                <label>- Nb défaites:
                                    <span>{{ stats[monstres[0].personnage_id].nbDefaites }}</span></label>
                                <label>- Nb combats:
                                    <span>{{ stats[monstres[0].personnage_id].nbCombats }}</span></label>
                                <label>- Nb attaques reçues: <span>{{ stats[monstres[0].personnage_id].nbAttRecues }}</span></label>
                                <label>- Nb attaques données: <span>{{ stats[monstres[0].personnage_id].nbAttEff }}</span></label>
                                <label>- Total des dégâts reçus: <span>{{ stats[monstres[0].personnage_id].totalDegRecus }}</span></label>
                                <label>- Total des dégâts infligés: <span>{{ stats[monstres[0].personnage_id].totalDegRecus }}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% set monstresSlice = monstres|slice(1, monstres|length) %}

            {% for monstre in monstresSlice %}

                <div class="item" data-id="{{ monstre.personnage_id }}">
                    <div class="item_content">
                        <div class="item_content_carte">
                            <div class="item_content_carte_gauche">
                                <div class="item_content_carte_gauche_photo">
                                    <img src="{{ cheminMonstres }}/{{ monstre.photo }}">
                                </div>
                                <div class="item_content_carte_gauche_nom">
                                    <h1>{{ monstre.nom }} {{ monstre.prenom }}</h1>
                                </div>
                            </div>
                            <div class="item_content_carte_droite">
                                <div class="item_content_carte_droite_caract">
                                    <label>- PV: <span>{{ monstre.pv }}</span></label>
                                    <label>- Attaque: <span>{{ monstre.pAttaque }}</span></label>
                                    <label>- Défense: <span>{{ monstre.pDefense }}</span></label>
                                    <label>- Agilité: <span>{{ monstre.pAgilite }}</span></label>
                                    <label>- Taille: <span>{{ monstre.taille }}</span></label>
                                    <label>- Poids: <span>{{ monstre.poids }}</span></label>
                                </div>
                                <div class="item_content_carte_droite_stats">
                                    <label>- Ratio victoire:
                                        <span>{{ stats[monstre.personnage_id].ratioVictoires }}</span></label>
                                    <label>- Nb victoires:
                                        <span>{{ stats[monstre.personnage_id].nbVictoires }}</span></label>
                                    <label>- Nb défaites:
                                        <span>{{ stats[monstre.personnage_id].nbDefaites }}</span></label>
                                    <label>- Nb combats:
                                        <span>{{ stats[monstre.personnage_id].nbCombats }}</span></label>
                                    <label>- Nb attaques reçues: <span>{{ stats[monstre.personnage_id].nbAttRecues }}</span></label>
                                    <label>- Nb attaques données: <span>{{ stats[monstre.personnage_id].nbAttEff }}</span></label>
                                    <label>- Total des dégâts reçus: <span>{{ stats[monstre.personnage_id].totalDegRecus }}</span></label>
                                    <label>- Total des dégâts infligés: <span>{{ stats[monstre.personnage_id].totalDegRecus }}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Prev</span>
        </a>
        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suiv</span>
        </a>
    </div>

    <div class="validation">
        <div class="validation_personnage"></div>
        <div class="validation_versus"><img src="{{ cheminImages }}/versus.png"></div>
        <div class="validation_monstre"></div>
    </div>

    <div class="contentButton actif">
        <button class="btn btn-default" onclick="randomPerso()">ALEATOIRE</button>
        <button class="btn btn-default" onclick="choisirPerso()">CHOISIR</button>
    </div>
    <div class="contentButton">
        <form method="post" action="/bon-duelle/joueur/combat">
            <input type="hidden" name="idLegume" id="hiddenLegume" value="{{ persos[0].personnage_id }}">
            <input type="hidden" name="idFruit" id="hiddenFruit" value="{{ monstres[0].personnage_id }}">
            <button class="btn btn-default" id="lancementCombat" type="submit">COMBAT</button>
        </form>
    </div>
{% endblock %}