{% extends "Template.html.twig" %}

{% set route = base_url() %}

{% block head %}
    <link rel="stylesheet" href="{{route}}/public/style/css/login.css" />
    
    <title>Connexion</title>
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    

        <form method="post" action="{{ route }}/login" class="loginform">
            <h1> Se connecter</h1>

            <div class="form-group">
                <label for="login">Login : </label>
                <input type="text" name="login" id="login" class="form-control" placeholder="Entrez votre login" required value="{{ login }}">
            </div>

            <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" required value="{{ password }}">
            </div>

            {% if erreur is defined %}
            <p>{{ erreur }}</p>
            {% endif %}

            <input  type="submit" value="Se  connecter">
        </form>


    
{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}
