{% extends "Admin.creerPersonnage.html.twig" %}

{% set route = base_url() %}

{% block head %}


    {{ parent() }}
    <link rel="stylesheet" href="{{route}}/public/style/css/listePerso.css" />
    <title>Modification du Monstre </title>
{% endblock %}

{% block action %}

    action="{{ route }}/admin/modifMonstre"

{% endblock %}

{%  block submit %}

    <input type="submit"  class="btn btn-info" value="Modifier">

{% endblock %}