{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>PHOTO</th>
        <th>NOM</th>
        <th>POIDS</th>
        <th>TAILLE</th>
        <th>PV</th>
        <th>P_ATT</th>
        <th>P_DEF</th>
        <th>P_AGI</th>
        <th>GESTION</th>
    </tr>
    </thead>
    <tbody>
    {% for perso in personnages %}
        <tr>
            <td>{{ perso.personnage_id }}</td>
            <td>
                <img src="{{ route }}/public/images/monstres/{{ perso.photo }}" alt="Photo de {{ perso.nom }}">
            </td>
            <td>{{ perso.nom }}</td>
            <td>{{ perso.poids }} g</td>
            <td>{{ perso.taille }} cm</td>
            <td>{{ perso.pv }}</td>
            <td>{{ perso.pAttaque }}</td>
            <td>{{ perso.pDefense }}</td>
            <td>{{ perso.pAgilite }}</td>
            <td>
                {% if perso.nom != "Acerola" and perso.nom != "Banana" and perso.nom != "Dumber" and perso.nom != "LaRamenePas" and perso.nom != "Raisino" and perso.nom != "Froletto" and perso.nom != "Fraisoo" and perso.nom != "Schtroumphinette" and perso.nom != "Plantinou" and perso.nom != "OGMBanana" %}
                <a data-toggle="tooltip" data-placement="bottom" title="Modifier monstre"
                   href="{{ route }}/admin/modifMonstre/{{ perso.personnage_id }}"><span
                            class="glyphicon glyphicon-pencil warning"></span></a>
                <a data-toggle="tooltip" data-placement="bottom" title="Supprimer monstre"
                   href="{{ route }}/admin/deleteperso/{{ perso.personnage_id }}"><span
                            class="glyphicon glyphicon-remove error"></span></a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>