{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Ratio de victoires</th>
        <th>Taux de victoires</th>
        <th>Nombre de combats</th>
        <th>Nombre de victoires</th>
        <th>Nombre de défaites</th>
        <th>Nombre d'attaques reçues</th>
        <th>Nombre d'attaques effectuées</th>
        <th>Total dégâts reçus</th>
        <th>Total dégâts infligés</th>

    </tr>
    </thead>
    <tbody>
    {% for perso in personnages %}
        <tr>
            <td>{{ perso.personnage_id }}</td>
            <td>
                <img src="{{ route }}/public/images/personnages/{{ perso.photo }}" alt="Photo de {{ perso.nom }}">
            </td>
            <td>{{ perso.nom }}</td>
            <td>{{ perso.prenom }}</td>
            <td>{{ stats[perso.personnage_id].ratioVictoires }}</td>
            <td>{{ stats[perso.personnage_id].pourcentageVictoires }} %</td>
            <td>{{ stats[perso.personnage_id].nbCombats }}</td>
            <td>{{ stats[perso.personnage_id].nbVictoires }}</td>
            <td>{{ stats[perso.personnage_id].nbDefaites }}</td>
            <td>{{ stats[perso.personnage_id].nbAttRecues }}</td>
            <td>{{ stats[perso.personnage_id].nbAttEff }}</td>
            <td>{{ stats[perso.personnage_id].totalDegRecus }}</td>
            <td>{{ stats[perso.personnage_id].totalDegEff }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>