{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    <!-- inclusion de JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Inclusion feuilles de style -->
    <link rel="stylesheet" href="{{ route }}/public/style/css/gestionDonnees.css"/>

</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID perso</th>
        <th>Ratio de victoires</th>
        <th>Taux de victoires</th>
        <th>Nombre de combats</th>
        <th>Nombre de victoires</th>
        <th>Nombre de défaites</th>
        <th>Nombre d'attaques reçues</th>
        <th>Nombre d'attaques effectuées</th>
        <th>Total dégâts reçus</th>
        <th>Total dégâts infligés</th>
    </tr>
    </thead>
    <tbody>
    {% for stats in statistiques %}
        <tr>
            <td>{{ perso.personnage_id }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>