{% set route = base_url() %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ route }}/public/images/monstres/poire.png"/>

    {% block head %}

        <!-- inclusion de JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Inclusion feuilles de style -->
        <link rel="stylesheet" href="{{ route }}/public/style/css/template.css"/>
        <link rel="stylesheet" href="{{ route }}/public/style/css/header.css"/>
        <link rel="stylesheet" href="{{ route }}/public/style/css/footer.css"/>

    {% endblock %}
</head>
<header>
    {% include "header.html.twig" %}
    <div class="headerContent">
        {% block header %}

        {% endblock %}
    </div>
</header>
<body>
<div class="conteneur">
    {% block body %}

    {% endblock %}
</div>
</body>


{% include "footer.html.twig" %}

</html>