.btn {
    margin-bottom: 5px;
}

.combatContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

.legumeContainer {
    width: 38%;
    background-color: green;
}

.fruitContainer {
    width: 38%;
    background-color: red;
}

.persoContainer {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    width: 10%;
    height: auto;
    overflow: hidden;
}

.persoContainer > h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.persoContainer > img {
    width: 100%;
    height: auto;
}

.breathing {
    -webkit-animation: breathing 3s infinite normal;
    animation: breathing 3s infinite normal;
    -webkit-font-smoothing: antialiased;
}

.jouer {
    padding: 10px;
    font-size: 2rem;
    width: 100%;
}

.historyContainer {
    display: flex;
    flex-direction: column;

    width: 20%
}

.history {
    border: 1px solid brown;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    height: 500px;
    overflow: auto;
    margin-bottom: 3%
}

.nomDuPerso {
    font-weight: bold;
    font-size: 2rem
}

.actionsPerso {
    display: flex;
    flex-direction: column;
    padding: 5px
}

h1 {
    text-align: center
}

.active {
    font-weight: bold;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.conteneur {
    padding-top: 2%;
}

.conteneur > h1 {
    margin: 0 0 1% 0;
    padding: 0;
}