.conteneur{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#radioGroup{
    display: flex;
}

form input{
    display: block;
}

form input[type="submit"]{
    margin-top: 1%;
}

.form-group{
    margin-top : 10px;
}