@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffe4c494;
  width: 100%;
  height: 100%;
}

th, td {
  text-align: center;
  font-size: 20px;
  border-color: black !important;
  vertical-align: middle !important;
}

td img {
  height: 70px;
}

.warning {
  color: darkorange;
  font-size: 25px;
  margin-right: 20px;
}

.error {
  color: red;
  font-size: 25px;
}

form {
  margin-top: 1%;
  text-align: center;
  width: 40%;
}
form h1 {
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.5em;
}
form input {
  text-align: center;
}
form input[type=submit] {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
}

p.erreur {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=gestionDonnees.css.map */
