header {
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("../../images/headerFooter.png");
    opacity: 0.9;
    background-size: contain;
}

header .headerLogo {
    height: 100%;
}

header .headerLogo .headerLogoImg {
    height: 100%;
    cursor: pointer;
}

.headerContent {
    width: 80%;
    height: 65%;
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}