.conteneur{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }

  .conteneurPerso {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 70%;
  }

  .personnage {
      border: 1px solid white;
      border-radius: 20px;
      padding: 5px;
      margin-right : 4%;
      width: 15vw;
      text-align:center;
  }

  .personnage > img {
    width:100%;
    height: auto;
    border-radius:20px;
    padding: 5px;
  }