html {
  height: 100%;
}

body {
  width:100%;
  height: 100%;
  overflow-x: hidden;
  line-height: initial;
}

.conteneur{
  display : flex;
  align-items: center;
  justify-content: center;

}

.loginform {
  min-width: 50vw;
  min-height: 50vh;
  background-color : rgba(144, 135, 207, 0.719);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:yellow;
  font-size:3rem;
}

[type="submit"] {
  color:black;
  margin-top:1vh;
  padding-left:15px;
  padding-right: 15px;
  border-radius: 20px;
}

.btn:hover {
  background-color: white;
}

form > h1 {
  margin-bottom:3vh;
  font-size: 7rem;
  font-weight:bold;
}

