@import url(https://fonts.googleapis.com/css?family=Montserrat);
.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.breadcrumb a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  color: black;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  background: bisque;
  width: calc(100% / 3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb a.active,
.breadcrumb a:hover {
  background: lawngreen;
  color: black;
}

.breadcrumb a.active:hover,
.breadcrumb a.active:hover::after {
  background: #6fe300;
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: lawngreen;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 50px;
  height: 50px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: bisque;
  box-shadow: 3px -3px 0 2px black;
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.carousel, .validation, .contentButton {
  display: none !important;
}

.actif {
  display: flex !important;
}

#myCarousel, #myCarousel2 {
  height: 82%;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner > .item {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.validation {
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: bisque;
  box-shadow: 3px 3px 20px 0px black;
  border-radius: 10px;
}
.validation .validation_personnage, .validation .validation_monstre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
}
.validation .item_content_carte_gauche {
  width: initial;
}
.validation .validation_versus {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.validation .validation_versus img {
  width: 80%;
}

.contentButton {
  height: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 2%;
}

.item_content {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_content_carte {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 90%;
  background-color: bisque;
  border-radius: 5px;
  box-shadow: 3px 3px 20px 0px black;
}

.item_content_carte_gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}
.item_content_carte_gauche h1 {
  border: 2px black solid;
  padding: 10px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  background-color: white;
  text-align: center;
}

.item_content_carte_gauche_photo {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px black solid;
}
.item_content_carte_gauche_photo img {
  width: 100%;
  height: 100%;
}

.item_content_carte_gauche_nom {
  margin: 0 5%;
}

.item_content_carte_droite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}
.item_content_carte_droite div {
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  width: 70%;
}
.item_content_carte_droite label {
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.item_content_carte_droite label span {
  color: lightslategray;
  font-size: 18px;
}

.item_content_carte_droite_caract {
  display: flex;
  flex-direction: column;
}

.item_content_carte_droite_stats {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .item_content_carte_gauche_photo {
    height: 200px;
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: -15px;
  }
}
.carousel-indicators {
  bottom: -15px;
}

/*# sourceMappingURL=selectionPersonnage.css.map */
