@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../../images/background.jpg");
    overflow: hidden;
    line-height: initial;
}

.conteneur {
    height: 87%;
}