.conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choix {
  background-color: bisque;
  border-radius: 10px;
  padding: 5px;
  width: 60%;
  height: 35%;
  box-shadow: 4px 5px 15px 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
}

.choix a {
  width: 35%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  transition-duration: 1s;
}

.choix a:hover {
  font-size: 40px;
  background-color: darkgrey;
}