.conteneur{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#radioGroup{
  display: flex;
}

form input{
  display: block;

  &[type="submit"]{
    margin-top: 1%;
  }
}

.form-group{
  margin-top : 10px;
}