h1 {
  margin: 0;
  padding: 0;
  color: darkgrey;
  font-weight: bold;
}

.conteneur {
  padding: 0;
}

.navbar {
  margin: 0;
}

.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: deepskyblue;
}

.main-content {
  position: fixed;
  top: 50px;
  left: 200px;
  right: 0;
  bottom: 0;
}

a {
  cursor: pointer;
}

.nav-header {
  display: block;
  color: white;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}

.navbar-brand {
  cursor: initial;
}

.main-content iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: bisque;
}