.conteneur {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.partieFruits, .partieLegumes {
  width: 60%;
  height: 35%;
  background-color: bisque;
  border-radius: 10px;
  border: 1px black solid;
  box-shadow: 4px 5px 15px 3px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contentButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.cbt {
  width: 125px;
  height: 125px;
  border: 2px black solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 0px 10px 5px 10px;

  img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    border: 3px black solid;
  }
}

.actif {
  background-color: #6fe300;
  border-color: green;

  &:hover {
    border: 3px green solid;
  }
}